
@charset "UTF-8";
/* Header Top */
html{
    scroll-behavior: smooth;
}
.header-top {
    border-bottom: 1px solid #eee;
    font-size: 13px;
    background-color: #ffffff;
    font-weight: 400px;
}

.header-top .header-dropdown > a {
    display: inline-block;
    padding: 1.5px 8px;
    color: #444;
    background-color: #ffffff;
    margin-bottom: -1px;
}

.header-top .header-dropdown .dropdown-menu {
    padding: 0;
    min-width: 100%;
    font-size: 13px;
    font-weight: 400;
    border: none;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.1);
}

.header-top .header-dropdown + .top-menu {
    margin-right: 25px;
}

.header-top .header-dropdown + .top-links {
    margin-right: 15px;
}

@media (min-width: 768px) {
    .header-top .header-dropdown + .top-links {
        margin-right: 25px;
    }
}

.header-top .header-dropdown + .header-dropdown {
    margin-left: -1px;
}

.header-top .header-dropdown:nth-of-type(2n) > a {
    background-color: #ffffff;
}

.header-top .header-dropdown.open > a,
.header-top .header-dropdown:hover > a,
.header-top .header-dropdown:focus > a {
    background-color: #ffffff;
    border-color: #ff9800;
    color: #ff9800;
}

.header-top .top-menu {
    font-size: 0;
}

@media (max-width: 767px) {
    .header-top .top-menu {
        display: none;
    }
}

.header-top .top-menu li {
    font-size: 13px;
    display: inline-block;
}

.header-top .top-menu li a {
    display: inline-block;
    padding: 7px 0;
    position: relative;
}

.header-top .top-menu li a:before {
    content: "";
    display: block;
    height: 2px;
    position: absolute;
    bottom: -1px;
    left: 50%;
    right: 50%;
    background-color: #ff9800;
    transition: all 0.3s;
}

.header-top .top-menu li + li:before {
    content: "•";
    margin: 0 7px;
    color: #6a6a6a;
}

.header-top .top-menu li.active a,
.header-top .top-menu li:hover a,
.header-top .top-menu li:focus a {
    color: #616161;
}

.header-top .top-menu li.active a:before,
.header-top .top-menu li:hover a:before,
.header-top .top-menu li:focus a:before {
    left: 0;
    right: 0;
}

.header-top .top-text {
    display: none;
    margin: 7px 0;
    color: #666;
}

@media (min-width: 992px) {
    .header-top .top-text {
        display: block;
    }
    .header-top .top-text + .top-links {
        margin-left: 15px;
    }
}

.header-top .top-links {
    margin: 2px 0;
    font-size: 0;
}

.header-top .top-links a {
    color: #e18a08;
    display: inline-block;
    font-size: 13px;
}

.header-top .top-links a:hover,
.header-top .top-links a:focus {
    color: #323232;
}

.header-top .top-links a + a:before {
    content: "/";
    margin: 0 5px;
    color: #6a6a6a;
}

.header-top .social-icons .social-icon {
    display: inline-block;
    line-height: 30px;
    min-width: 24px;
    text-align: center;
    color: #616161;
    margin: 0;
    font-weight: 400;
    transition: all 0.4s;
}

.header-top .social-icons .social-icon:first-child {
}

.header-top .social-icons .social-icon:hover,
.header-top .social-icons .social-icon:focus {
    background-color: #ffffff;
    color: #ff9800;
}

@media (min-width: 768px) {
    .header-top .social-icons + .top-links {
        margin-left: 20px;
    }
}

.header-top {
    float: left;
    border-bottom: none;
    background-color: #ffffff;
}

@media (min-width: 992px) {
    .header-top {
        padding: 0 20px;
        background-color: #ffffff;
        width: 100%;
        height: 30px;
    }
}

.header-top.gray {
    background-color: #ffffff;
}

@media (min-width: 1200px) {
    .col-lg-4 {
        margin-top: 40px;
    }
}
