
/* Preloader */

#loader-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    overflow: hidden;
}

.no-js #loader-wrapper {
    display: none;
}

#loader {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #16a085;
    -webkit-animation: spin 1.7s linear infinite;
    animation: spin 1.7s linear infinite;
    z-index: 11;
}

#loader:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #e74c3c;
    -webkit-animation: spin-reverse .6s linear infinite;
    animation: spin-reverse .6s linear infinite;
}

#loader:after {
    content: "";
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #f9c922;
    -webkit-animation: spin 1s linear infinite;
    animation: spin 1s linear infinite;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-webkit-keyframes spin-reverse {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(-360deg);
    }
}

@keyframes spin-reverse {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(-360deg);
        transform: rotate(-360deg);
    }
}

#loader-wrapper .loader-section {
    position: fixed;
    top: 0;
    width: 51%;
    height: 100%;
    background: #222;
    z-index: 10;
}

#loader-wrapper .loader-section.section-left {
    left: 0;
}

#loader-wrapper .loader-section.section-right {
    right: 0;
}

/* Loaded styles */

.loaded #loader-wrapper .loader-section.section-left {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.loaded #loader-wrapper .loader-section.section-right {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.loaded #loader {
    opacity: 0;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.loaded #loader-wrapper {
    visibility: hidden;
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
    -webkit-transition: all 0.3s 1s ease-out;
    transition: all 0.3s 1s ease-out;
}

/*Global btn css*/

.global_btn {
    margin: 0;
    padding: 0;
}

.global_btn a {
    margin: 40px 0 0 0;
    display: inline-block;
    background: #222;
    text-align: center;
    padding: 15px 35px;
    text-transform: uppercase;
    color: #fff;
    font-weight: bold;
    letter-spacing: 3px;
    min-width: 180px;
    border-radius: 3px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.global_btn a:hover {
    background: #e71c37;
}

.global_btn a.btn_two {
    background: #e71c37;
}

.global_btn a.btn_two:hover {
    background: #222;
}

/* ----------------------------------------------------------------------------------------
* 06. START SCHEDULE STYLE
* ----------------------------------------------------------------------------------------
*/

.schedule-tab .nav-tabs {
    border: none;
}

.schedule-tab .nav-tabs .nav-link.active {
    border: 1px solid #e11515;
    border-radius: 0;
    background-color: #e11515;
    color: #fff;
}

.schedule-tab .nav-link {
    padding: 10px 45px;
    border: 1px solid #ddd;
    color: #333;
    border-radius: 0;
}

.schedule-tab .nav-tabs .nav-link p {
    font-weight: 600;
}

.schedule-tab .nav-tabs .nav-item {
    margin-right: 20px;
    position: relative;
}

.schedule-tab .nav-link:hover,
.schedule-tab .nav-link:focus {
    border-color: #e11515;
}

.schedule-tab .nav-tabs .nav-link.active:after {
    content: "";
    position: absolute;
    top: 100%;
    left: 42%;
    border-top: 15px solid #e11515;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    -webkit-transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
}

@media (max-width: 575px) {
    .schedule-tab .nav-tabs .nav-item {
        margin: 0 0 30px 20px;
        position: relative;
    }
}

@media (min-width: 576px) and (max-width: 767px) {
    .schedule-tab .nav-link {
        padding: .5rem 1rem;
    }
}

/*sponsor logo css*/

.partnar_logo {
    text-align: center;
}

.partnar_logo img {
    background: #eee;
    padding: 6px 6px;
    text-align: center;
    margin: 6px 0;
}


/*upcoming Events css*/

.up_events {
    position: absolute;
    top: 75%;
    background: rgba(255, 255, 255, 0.6);
    text-align: center;
    display: block;
    width: 100%;
    padding: 0 0;
    text-transform: uppercase;
    color: #222;
    font-size: 20px;
    font-weight: bold;
    padding: 20px 0;
    display: none;
}

.upevent-box-img {
    position: relative;
}

.upevent-section .blog-box .blogs-post {
    padding: 10px 15px 20px 15px;
    background: #fff;
}

.upevent-section .blog-box .blogs-post p {
    margin-top: 10px;
}

.up_events i {
    color: #e71c37;
}

.upevent-section .blog-box .blogs-post a.read_more {
    display: block;
    margin: 12px 0 0 0;
    text-transform: uppercase;
    font-weight: bold;
}

.upevent-section .blog-box .blogs-post a.read_more i {
    margin: 0 12px 0 0;
    text-transform: uppercase;
    font-weight: bold;
}

.upevent-section .blog-box .blogs-post a.read_more:hover {
    color: #222;
}

.upevent-box:hover .up_events {
    display: block;
}

.sponsors-logo {
    border: 1px solid #eee;
    padding: 10px;
}

/*sedules css*/

.speker_mainbox {
    background: #fff;
    margin: 40px 0 0 0;
    padding: 26px 12px;
    box-shadow: 0 6px 10px 1px #eee;
}

.speker_mainbox:hover {
    box-shadow: none;
}

.speker_img {
    text-align: center;
}

.speker_img img {
    border-radius: 6px;
}

.speker_box {
    margin: 0;
    padding: 0;
}

.sedules_events {
    margin: 0;
    padding: 0;
}

.sedules_events {}

.sedules_events i {
    color: #e11515;
}

.speker_box h2 {
    margin: 0;
    padding: 15px 0 15px 0;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 600;
    color: #222;
}

.speker_box p {
    margin: 0;
    padding: 0;
    line-height: 22px;
}

.speker_box h4 {
    margin: 17px 0 0 0;
    padding: 0;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
    color: #e71c37;
}

.speker_box h4 span {
    margin: 0;
    padding: 0;
    display: block;
    font-weight: normal;
    text-transform: lowercase;
    color: #222;
}

.sedules_events>span {}

.speker_mainbox .global_btn a {
    margin-top: 10px;
    padding: 15px 0px;
    font-size: 14px;
    min-width: 155px;
}

.speker_mainbox .global_btn {
    margin: 0;
    padding: 15px 0 0 0;
}

#ourteam_lightbox a:hover {
    color: #222;
    font-weight: bold;
}

< !-- sticky menu css-->#navbar a.active {
    background-color: #4CAF50;
    color: white;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
    -webkit-transition: all .3s ease-in;
    -moz-transition: all.3s ease-in;
    -o-transition: all .3s ease-in;
    transition: all .3s ease-in;
    -webkit-transition: all .3s ease-out;
    -moz-transition: all.3s ease-out;
    -o-transition: all .3s ease-out;
    transition: all .3s ease-out;
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 0;
    padding-left: 0;
}

.nav-link {
    padding: 0;
}

.navbar-light .navbar-nav .nav-link {
    color: #CCC;
}

#navbar a:hover {
    color: #e71c37;
}

#navbar a.active {
    background: none;
    color: #e71c37;
}

/*google map css*/

#map {
    height: 300px;
}

 
